.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 16px;

  .card {
    height: 150px;
    width: auto;
    object-fit: fill;
    margin: 16px;
    align-items: center;

    .list {
      color: white;
      text-decoration: none;

      &:hover {
        color: blueviolet
  }}}}
